/*
 *= require bootstrap-material-design
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  border-radius: 0px;
}

#unit_select {
  border-color: rgba(255, 255, 255, 0);
  background-color: transparent;
  height: 30px;
}

.link_style {
  color: rgba(255, 255, 255, .84);
  padding-top: 20px;
  padding-bottom: 20px;
}