@import "bootswatch/paper/variables";

@import "bootstrap-sprockets";
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 80px; }

@import "bootswatch/paper/bootswatch";

#unit_select {
  color: black;
  font-size: 16px;
}